<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/mycss.css" rel="stylesheet">
        <!--Typescript Classes -->
        <script src="compiled/clientScripts.js"></script>
        <script src="compiled/PartialBase.js"></script>
        <script src="compiled/ClientLogin.js"></script>
        <script src="compiled/ClientDashboard.js"></script>
    </head>
    <body>
        <h1>My App!</h1>
        <div class="container bordered" id="container">
            Loading...
        </div>
    </body>
</html>